Find how Rifle Sway Works and apply to pistol

To Do's:
Fix Weapon Scroll

Inventory

Add Prone

Change Crouch Animations

Fix Reload Clips

Change projectiles

Login System

Change Footstep Sound FX

1. Rename default to Rifle_Anim
2. Replace Default with Unarmed Weapon

How to fix third person to first person mesh
1. Make new model and remove arms in favorite modeling program
2. 

How to add new gun

1. Import static mesh
2. Duplicate Replicated_Weapon
3. Replace FPP_WeaponMesh & TPP_WeaponMesh with new static mesh
4. 

How to Change FP_Weapon Animations:

1. create new anim category
2. Open Replicated_AnimBP_FPP
3. Duplicate Deafult Rifle below Pistol

-

Done:

How to Change TP_Weapon Animations:

1. create new anim category
2. Open Replicated_AnimBP
3. Duplicate Pistol below Pistol
4. Add new Anim Offset:
	How to Add Offset
1. Modify idle pistol animations: idle_center, pistol_up, pistol_down
2. create a new aim offset of idle pistol animation
3. export & save animation to desired folder
4. create new aim offset by duplication of old offset & import new animations
-