Movement:
- idle
- walking
- jumping

Enemy AI:
- Use WoW as Template Ex.(Boars from 1-8;Zebras from 8-20)

Launcher:
- Auto Updater & Launcher Ex.(Project Ascension)

Website:
- Paymentwall
- Coinbase
- Prepaid Cards